[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
djangorestframework-simplejwt = "*"
djoser = "*"
django = "*"
django-cors-headers = "*"
gunicorn = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
